<a href="/home">Home </a> |
<a href="/about">About </a> |
<a href="/contact">Sum </a> |

<a href="/add-student">Add Student </a> |
<a href="/display-student">Display Student</a> |
<a href="/shop">Shop</a> |
<a href="/product">Product</a> |
<a href="/productapi">Product API</a> |
<a href="/user_login">User Login</a> |
<a href="/user_register">User Register</a> |
<a href="/login">Session Login</a> |
<a href="/saveSession">Session Save</a> |
<a href="/getSession">Session Get</a> |
<a href="/removeSession">Session Remove</a> |